elevation_file = chateaudoex_bulle_swisstopo.tif
wx_station_filename = Descente/Descente_list.csv
initialization_method = pointInitialization
write_wx_station_kml = false
write_vtk_output = true
write_shapefile_output = false
write_goog_output = false
num_threads = 4
mesh_resolution = 50
units_mesh_resolution = m
vegetation = trees
time_zone = Europe/Zurich
start_year = 2019
start_month = 10
start_day = 3
start_hour = 5
start_minute = 0
stop_year = 2019
stop_month = 10
stop_day = 3
stop_hour = 5
stop_minute = 0
number_time_steps = 1
diurnal_winds = False
non_neutral_stability = True
match_points = False
output_wind_height = 50
units_output_wind_height = m
output_speed_units = mps
